{
    extends: 'eslint:recommended',
    parserOptions: { ecmaVersion: 6 },
    env: { node: true, es6: true, browser: true},
    rules: {
         max-len: 'off',
        'no-console': 'off',
        semi: ['error', 'always'],
        'new-cap': 'off',
        strict: ['error', 'global'],
        'no-underscore-dangle': 'off',
        'no-use-before-define': 'error',
        'no-unused-vars': ['warn', { vars: 'all', args: 'none' }],
        'eol-last': 'off',
        quotes: ['error', 'single'],
        'comma-dangle': 'warn'
    }
}
